@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Music&display=swap');

body {
  background-color: var(--bg-color);
}

body, button, input, option, select {
  margin: 0;
  font-family: 'Michroma', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

:root {
--transparent-black: rgba(0, 0, 0, 0.4);
--transparent-white: rgba(255, 255, 255, 0.1);

--very-dark-grey-2: hsl(0, 0%, 6%);
--very-dark-grey: hsl(0, 0%, 10%);
--dark-grey-2: hsl(0, 0%, 12%);
--medium-grey: hsl(0, 0%, 35%);
--medium-grey-2: hsl(0, 0%, 60%);
--light-grey-2: hsl(0, 0%, 75%);
--light-grey: hsl(0, 0%, 80%);
--very-light-grey-2: hsl(0, 0%, 85%);
--almost-white: hsl(0, 0%, 90%);
--very-light-grey: hsl(0, 0%, 95%);

--dark-grey: hsl(210, 11%, 15%);
--dark-bluish-grey: hsl(207, 8%, 20%);


--medium-blue: hsl(216, 70%, 50%);
--medium-blue-2: hsl(216, 100%, 60%);
--light-blue: hsl(216, 100%, 75%);
--blue-white: hsl(216, 100%, 95%);

--blue-purple-medium: hsl(230, 50%, 20%);
--blue-purple: hsl(230, 50%, 37%);
--light-blue-purple: hsl(230, 50%, 57%);
--lighter-blue-purple: hsl(230, 50%, 67%);

}

.dark-mode {
  --metronome-bg: var(--blue-purple-medium);
  --metronome-border-color: var(--medium-grey-2);
  --bg-color: var(--very-dark-grey);
  --header-icon-hover: var(--dark-grey-2);
  --button-border-color: var(--light-grey);
  --button-color: var(--very-dark-grey);
  --button-hover-color: var(--very-dark-grey-2);
  --button-hover-text-color: var(--medium-grey-2);
  --button-border-hover: var(--medium-grey-2);
  --button-text-color: var(--very-light-grey);
  --heading-color: var(--almost-white);
  --text-color: var(--light-grey);
  --body-color-hover: var(--medium-grey-2);
  --input-color: var(--light-grey);
  --input-background-color: var(--very-dark-grey);
  --input-border-color: var(--light-grey);
  --input-slider-color: var(--very-light-grey);
  --input-track-color: var(--very-dark-grey);
  --pop-up-background: var(--dark-grey-2);
  --pop-up-border: var(--medium-grey);
  --pop-up-transparent: var(--transparent-white);
  --pop-up-input-bg: var(--light-grey);
  --pop-up-input-color: var(--very-dark-grey);
  --link-color: var(--light-blue-purple);
  --link-hover-color: var(--lighter-blue-purple);
  --selected: var(--accent-color);
  --selected-cell: var(--blue-purple);
  --accent-color: var(--light-blue-purple);
  --drum-machine-bg: var(--very-dark-grey-2);
  --no-instrument-bg: var(--very-dark-grey);
  --icon-hover: var(--body-color-hover);
  --rg-bg: var(--bg-color);
  }

  .light-mode {
    --metronome-bg: var(--light-blue);
    --metronome-border-color: var(--dark-bluish-grey);
    --bg-color: var(--very-light-grey-2);
    --header-icon-hover: var(--almost-white);
    --button-border-color: var(--dark-bluish-grey);
    --button-color: var(--dark-grey);
    --button-hover-color: var(--blue-white);
    --button-hover-text-color: var(--dark-grey);
    --button-text-color: var(--very-light-grey);
    --heading-color: var(--dark-grey);
    --text-color: var(--dark-bluish-grey);
    --body-color-hover: var(--blue-white);
    --input-color: var(--dark-bluish-grey);
    --input-slider-color: var(--medium-grey-2);
    --input-track-color: var(--dark-grey);
    --input-background-color: var(--very-light-grey);
    --input-border-color: var(--medium-grey);
    --pop-up-background: var(--very-light-grey-2);
    --pop-up-border: var(--dark-bluish-grey);
    --pop-up-transparent: var(--transparent-black);
    --pop-up-input-bg: var(--very-light-grey);
    --pop-up-input-color: var(--dark-grey);
    --link-color: var(--light-blue-purple);
    --link-hover-color: var(--blue-purple);
    --selected: var(--medium-blue-2);
    --selected-cell: var(--accent-color);
    --accent-color: var(--medium-blue);
    --drum-machine-bg: var(--bg-color);
    --no-instrument-bg: var(--medium-grey-2);
    --icon-hover: var(--medium-blue);
    --rg-bg: var(--dark-grey);
    }

body {
 background-color: var(--bg-color);
}

button {
 border: var(--button-border-color);
 background-color: var(--button-color);
 color: var(--button-text-color);
 text-align: center;
 border: solid 2px var(--button-border-color);
 border-radius: 15px;
 padding: 6px 12px;
 margin: 6px;
}

button:hover {
 background-color: var(--button-hover-color);
 color: var(--button-hover-text-color);
 border-color: var(--button-border-hover);
}

h1, h2, h3, h4, h5, h6 {
 color: var(--heading-color);
}

p {
 color: var(--text-color);
}

input, select, option {
 color: var(--input-color);
 background-color: var(--input-background-color);
 border: 1px solid var(--input-border-color);
}


input[type="checkbox"] {
  /* Set the default checkbox styles */
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
  outline: none;
  transition: all 0.15s ease-in-out;
  background-color: var(--input-background-color);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color:var(--input-background-color);
}

input[type="checkbox"]:checked::before {
  content: '\2714';
  position: absolute;
  top: 1px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  border-radius: 3px;
}


input[type="range"] {
  /* Style for WebKit-based browsers */
  -webkit-appearance: none;
  height: 5px;
  background-color: var(--input-track-color);
}

/* Style for Firefox */
input[type="range"]::-moz-range-track {
  background-color: var(--input-track-color);
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--input-slider-color);
  border-radius: 50%;
}

/* Style for WebKit-based browsers */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--input-slider-color);
  border-radius: 50%;
}

/* Style for WebKit-based browsers */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--input-track-color);
}

input[type="range"].slider {
  -webkit-appearance: none;
  margin-top: 20px;
  background-color: var(--input-track-color);
  transform: rotate(270deg); /* Rotate the slider to a vertical orientation */
}

input[type="range"].slider::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--input-slider-color);
  border-radius: 50%;
}

input[type="range"].slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--input-slider-color);
  border-radius: 50%;
}

/* hover over range thumb --------------------------------------*/
/* For webkit-based browsers */
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--body-color-hover);
}

/* For Mozilla-based browsers */
input[type="range"]::-moz-range-thumb:hover {
  background-color: var(--body-color-hover);
}

/* For Microsoft Edge and Internet Explorer */
input[type="range"]::-ms-thumb:hover {
  background-color: var(--body-color-hover);
}

/* For all other browsers */
input[type="range"]:hover::-webkit-slider-thumb {
  background-color: var(--body-color-hover);
}

input[type="range"]:hover::-moz-range-thumb {
  background-color: var(--body-color-hover);
}

input[type="range"]:hover::-ms-thumb {
  background-color: var(--body-color-hover);
}
/* ---------------------------------------------------------- */




