#metronome-body {
    margin: auto;
    background-color: var(--metronome-bg);
    max-width: 800px;
    padding: 60px;
}

#tempo-arrows {
    display: flex;
    flex-direction: column;
    font-size: 180%;
}

#change-meter {
  display: flex;
  flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

input {
    padding: 10px;
    border-radius: 10px;
    font-size: 200%;
    width: 120px;
}

select {
  padding: 5px;
  border-radius: 5px;
  margin: 15px;
}

#metronome-btn {
  background-color: var(--button-color);
  color: var(--button-text-color);
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: center;
  gap:15px;
  font-weight: bold;
  padding: 8px 16px;
  margin: 60px auto 0 auto;
  border-radius: 15px;
  font-size: 115%;
  border: var(--button-border-color);
  align-self: center;
}

#metronome-btn:hover {
  background-color: var(--button-hover-color);
}

#volume {
  align-self: flex-end;
  justify-self: flex-end;
  font-size: 200%;
}

.hidden {
  display: none;
}

#bottom {
  display: flex;
  flex-direction: row;
}

#volume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}



/* Remove arrows on number input for bpm */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Vertical Slider------------------------------------------------------------- */
.volume-control {
  position: absolute;
  top: -105px;
  left: -55px;
  display: flex;
  flex-direction: column;
  height: 200px; /* Set the height of the slider container */
}
/* --------------------------------------------------------------------------- */