#metronome-body {
    margin: auto;
    background-color: var(--metronome-bg);
    max-width: 800px;
    padding: 10px 60px 30px 60px;
    border-radius: 10px;
    border: 3px solid var(--metronome-border-color)
}

#tempo-arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 320%;
}

h2 {
  text-align: center;
  font-size: 200%;
}

#left-col {
  display:flex;
  flex-direction: column;
  gap:30px;
}

.checkbox-div {
  margin-bottom: 15px;
}

#sections {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

#sections > div {
  width: 50%;
}

#change-meter {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

input {
    padding: 10px;
    border-radius: 10px;
}

#tempo-input {
  padding: 15px 25px;
  font-size: 400%;
  width: 220px;
}


#tempo-slider {
  margin: 15px 0 ;
  width: 245px;
}


select {
  padding: 5px;
  border-radius: 5px;
  margin: 15px;
}

#metronome-btn {
  background-color: var(--button-color);
  color: var(--button-text-color);
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: center;
  gap:15px;
  font-weight: bold;
  padding: 8px 16px;
  margin: 60px auto 0 auto;
  border-radius: 15px;
  font-size: 115%;
  border: solid 2px var(--button-border-color);
  align-self: center;
}

#metronome-btn:hover {
  background-color: var(--button-hover-color);
}

#volume {
  align-self: flex-end;
  justify-self: flex-end;
  font-size: 200%;
}

.hidden {
  display: none;
}

#bottom {
  display: flex;
  flex-direction: row;
  margin-top: -30px;
}

#volume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#volume-icons{
  z-index: 1;
}

.checkbox-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
}
/* Remove arrows on number input for bpm */
/* Chrome, Safari, Edge, Opera */
#tempo-input::-webkit-outer-spin-button,
#tempo-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

/* Vertical Slider------------------------------------------------------------- */
.volume-control {
  position: absolute;
  top: -105px;
  left: -63px;
  display: flex;
  flex-direction: column;
  height: 200px; /* Set the height of the slider container */
}
/* --------------------------------------------------------------------------- */

@media screen and (max-width: 800px) {
  #sections {
    flex-direction: column;
    align-items: center;
  }
  .practice-div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}