@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body {
  background-color: var(--bg-color);
}

body, button, input, option, select {
  margin: 0;
  font-family: 'Michroma', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  color: var(--text-color);
 /* common variables */
 --input-color: #343a40;
 --input-slider-color: #007bff;
}

/* Dark Mode */
.dark-mode {
  --metronome-bg: hsl(216, 49%, 19%);
  --metronome-border-color: rgb(153, 153, 153);
  --bg-color: #1a1a1a;
  --header-icon-hover: hsl(0, 0%, 13%);
  --button-border-color: #cccccc;
  --button-color: #1a1a1a;
  --button-hover-color: hsl(0, 0%, 8%);
  --button-hover-text-color: hsl(0, 0%, 44%);
  --button-border-hover: hsl(0, 0%, 44%);
  --button-text-color: #f2f2f2;
  --heading-color: hsl(0, 0%, 90%);
  --text-color: #cccccc;
  --body-color-hover: hsl(0, 0%, 44%);
  --input-color: #cccccc;
  --input-background-color: #1a1a1a;
  --input-border-color: #cccccc;
  --input-slider-color: #f2f2f2;
  --input-track-color: #1a1a1a;
}

/* Light Mode */
.light-mode {
  --metronome-bg: hsl(216, 100%, 75%);
  --metronome-border-color: #373c40;
  --bg-color: hsl(0, 0%, 85%);
  --header-icon-hover: hsl(0, 0%, 80%);
  --button-border-color: #373c40;
  --button-color: #212529;
  --button-hover-color: hsl(216, 100%, 95%);
  --button-hover-text-color: #212529;
  --button-text-color: #ffffff;
  --heading-color: #212529;
  --text-color: #373c40;
  --body-color-hover: hsl(216, 100%, 95%);
  --input-color: #373c40;
  --input-slider-color: rgb(153, 153, 153);
  --input-track-color: #212529;
  --input-background-color:#f2f2f2;
  --input-border-color: #5a5a5a;
}

body {
 background-color: var(--bg-color);
}

button {
 border: var(--button-border-color);
 background-color: var(--button-color);
 color: var(--button-text-color);
}

button:hover {
 background-color: var(--button-hover-color);
}

h1, h2, h3, h4, h5, h6 {
 color: var(--heading-color);
}

p {
 color: var(--text-color);
}

input, select, option {
 color: var(--input-color);
 background-color: var(--input-background-color);
 border: 1px solid var(--input-border-color);
}


input[type="checkbox"] {
  /* Set the default checkbox styles */
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
  outline: none;
  transition: all 0.15s ease-in-out;
  background-color: var(--input-background-color);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color:var(--input-background-color);
}

input[type="checkbox"]:checked::before {
  content: '\2714';
  position: absolute;
  top: 1px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  border-radius: 3px;
}


input[type="range"] {
  /* Style for WebKit-based browsers */
  -webkit-appearance: none;
  height: 5px;
  background-color: var(--input-track-color);
}

/* Style for Firefox */
input[type="range"]::-moz-range-track {
  background-color: var(--input-track-color);
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--input-slider-color);
  border-radius: 50%;
}

/* Style for WebKit-based browsers */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--input-slider-color);
  border-radius: 50%;
}

/* Style for WebKit-based browsers */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--input-track-color);
}

input[type="range"].slider {
  -webkit-appearance: none;
  margin-top: 20px;
  background-color: var(--input-track-color);
  transform: rotate(270deg); /* Rotate the slider to a vertical orientation */
}

input[type="range"].slider::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--input-slider-color);
  border-radius: 50%;
}

input[type="range"].slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--input-slider-color);
  border-radius: 50%;
}

/* hover over range thumb --------------------------------------*/
/* For webkit-based browsers */
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--body-color-hover);
}

/* For Mozilla-based browsers */
input[type="range"]::-moz-range-thumb:hover {
  background-color: var(--body-color-hover);
}

/* For Microsoft Edge and Internet Explorer */
input[type="range"]::-ms-thumb:hover {
  background-color: var(--body-color-hover);
}

/* For all other browsers */
input[type="range"]:hover::-webkit-slider-thumb {
  background-color: var(--body-color-hover);
}

input[type="range"]:hover::-moz-range-thumb {
  background-color: var(--body-color-hover);
}

input[type="range"]:hover::-ms-thumb {
  background-color: var(--body-color-hover);
}
/* ---------------------------------------------------------- */




