.metronome-body {
    margin: auto;
    background-color: var(--metronome-bg);
    max-width: 800px;
    padding: 10px 60px 30px 60px;
    border-radius: 10px;
    border: 3px solid var(--metronome-border-color)
}

#tempo-arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 320%;
}

#tempo-arrows > svg:hover {
color: var(--body-color-hover);
}

h2 {
  text-align: center;
  font-size: 200%;
}

#left-col {
  display:flex;
  flex-direction: column;
  gap:30px;
}

.checkbox-div {
  margin-bottom: 15px;
}

#sections {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

#sections > div {
  width: 50%;
}

#change-meter {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

input {
    padding: 10px;
    border-radius: 10px;
}

#tempo-input {
  padding: 15px 25px;
  font-size: 400%;
  width: 220px;
}


#tempo-slider {
  margin: 15px 0 ;
  width: 245px;
}


select {
  padding: 5px;
  border-radius: 5px;
  margin: 15px;
}

#metronome-btn {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: center;
  gap:15px;
  font-weight: bold;
  margin: 60px auto 0 auto;
  font-size: 115%;
  align-self: center;
  padding: 8px 16px;
}

#volume {
  align-self: flex-end;
  justify-self: flex-end;
  font-size: 200%;
}

.hidden {
  display: none;
}

#bottom {
  display: flex;
  flex-direction: row;
  margin-top: -30px;
}

#volume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#volume-icons{
  z-index: 1;
}

#volume-icons:hover {
  color:var(--body-color-hover);
}

.indented-child {
  margin-left: 22px;
}

h3 > svg:hover {
  color: var(--body-color-hover)
}

.checkbox-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
}
/* Remove arrows on number input for bpm */
/* Chrome, Safari, Edge, Opera */
#tempo-input::-webkit-outer-spin-button,
#tempo-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

/* Vertical Slider------------------------------------------------------------- */
.volume-control {
  position: absolute;
  top: -105px;
  left: -63px;
  display: flex;
  flex-direction: column;
  height: 200px; /* Set the height of the slider container */
}
/* --------------------------------------------------------------------------- */

@media screen and (max-width: 800px) {
  .metronome-body {
    display: flex;
    flex-direction: column;
  }
  #sections {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  #sections > div {
    width: 100%;
  }
  .practice-div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #left-col {
    align-items: center;
  }
  #sections label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 1px var(--metronome-border-color) dotted;
  }

  #tempo label {
    border: none;
    display: block;
  }
  #tempo-slider {
    justify-self: flex-start;
  }

  .user-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .user-nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  header {
    text-align: center;
    margin-bottom: 10px;
  }
  #heading-container {
    flex-direction: column;
    margin-bottom: 10px;
    gap: 0;
  }
  #heading-right, nav {
    align-items: center;
  }
  .top #tempo {
    margin-top: 10px;
  }
  .right {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .dm-settings {
    text-align: center;
  }
  .music-note {
    font-size: 20px;
  }
  .rhythm-div > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
  }
  #volume-container input {
    display: none;
  }


}