.pop-up-container {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: var(--pop-up-transparent);
    z-index: 2;
    font-size: 74%;
}

.pop-up {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--pop-up-background);
    padding: 60px 160px 60px 160px;
    border: 3px solid var(--pop-up-border);
    z-index: 3;
}

#x-container {
    display: flex;
    justify-content: flex-end;
    font-size: 130%;
    margin-right: -140px;
    margin-top: -40px;
}

#x-icon:hover, .inst-list h3>svg:hover {
    color: var(--icon-hover);
}

.validate {
    color: green;
    margin-left: 10px;
}

.input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6px;
}

.invalid-error {
    text-align: center;
}

.button-div {
    margin-top: 26px;
    text-align: center;
}

.link-text {
    cursor: pointer;
    text-decoration: underline;
    color: var(--link-color);
}

.link-text:hover {
    color: var(--link-hover-color);
}

.pop-up input {
    background-color: var(--pop-up-input-bg);
    color: var(--pop-up-input-color);
    margin-bottom: 16px;
    font-size: 84%;
}

.pop-up-inst {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--pop-up-background);
    padding: 60px 160px 60px 160px;
    border: 3px solid var(--pop-up-border);
    z-index: 3;
    max-height: 600px;
}

.inst-list {
    overflow-y:auto;
    height: 400px;
}

.load-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.load-items-container {
    border-bottom: 1px var(--pop-up-border) dotted;
    font-size: 110%;
    padding: 10px;

}

.load-container {
    max-height: 400px;
    overflow-y: auto;
}

.center {
    text-align: center;
}

.share-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px var(--pop-up-border) solid;
    border-radius: 15px;
    padding: 45px 30px;
    gap: 15px;
}

.share-div > div {
    border: 2px var(--input-border-color) solid;
    padding: 16px;
}

.success {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Account PopUp */
legend {
    margin: 15px;
    text-align: center;
    font-size: 110%;
}

.confirm-delete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--pop-up-transparent);
    padding: 5px;
}

.delete {
    background-color: var(--delete-bg);
    color: var(--delete-color);
}


.delete:hover {
    background-color: var(--delete-color);
    color: var(--delete-bg);
    font-weight: bold;
}

.account-div {
    display: flex;
    flex-direction: column;
    gap:40px;
    text-align: center;
    width: 300px;
}


.delete-div {
    border: 4px var(--delete-bg) solid;
    color: var(--delete-bg);
    padding: 10px;
    text-align: center;
    
}
    .delete-div h3 {
        color: var(--delete-bg);
        font-weight: bold;
    }
.delete-act-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 150%;
}
.delete-act-icon svg:hover{
    color: var(--icon-hover)
}

.delete-act {
    background-color: var(--pop-up-transparent);
    padding: 6px;
    margin: 2px;
}